.custom-progress{
    height: 7px;
}

.progress-bar{
    background-color: #000;
}

.readmore{
    border: 1px solid #000;
    padding: 10px 15px;
    font-size: 12px;
    color: #000;
    transition: .2s all ease;
    font-weight: 700;

     

    &:hover{
        background-color: #000;
        color: #fff;
    }
}

a{
    text-decoration: none;
}
